@model DepartmentEmployeeTotals

<div class="row">

    <div class="col-8"></div>
    <div class="col-4">
        <table class="table table-striped">

            <tbody>
                <tr>
                    <th>Department Count</th>
                    <td>@Model.DepartmentCount</td>
               
                    <th>Employee Count</th>
                    <td>@Model.EmployeeCount</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>





