@model IEnumerable<ApplicationCore.Models.Department>
@{
    ViewData["Title"] = "EmployeeRegistrationForm";
}

<body id="page-top">


    <div id="wrapper">



        <div class="container-fluid">
         </div>
    </div>
</body>
<div class="row">
    <div class="col-2">
    </div>
    <div class="col-8">
        
        <div class="container  shadow p-3 mb-5 bg-white rounded">
            <h2>Employee Registration  </h2>
            <form asp-controller="Account" asp-action="AddEmployee"  method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="">Name</label>
                    <input type="text" name="Name" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Name" required>
                </div>

                <div class="mb-3">
                    <label for="">Email</label>
                    <input type="email" name="Email" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Email" required>
                </div>

                <div class="mb-3">
                    <label for="">Adress</label>
                    <input type="text" name="Adress" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Adress" required>
                </div>
                <div class="mb-3">
                    <label for="">Designation</label>
                    <input type="text" name="Designation" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter Designation" required>
                </div>
                <div class="mb-3">
                    <label for="">ContactNo</label>
                    <input type="text" name="ContactNo" class="form-control" id="" aria-describedby="emailHelp" placeholder="Enter ContactNo" required>
                </div>

                <input type="file" name="image" class="input-files" />

                <div>
                    <label for="">Department: </label>

                    <select class="form-control" name="DepartmentId" id="" required>
                        <option value="">Select Department Name</option>
                        @foreach (var i in Model)
                        {
                            <option value="@i.Id">@i.DepartmentName</option>
                        }
                    </select>
                </div>

                <div class="d-grid gap-2" style="margin-top: 25px;">
                    <button  type="submit" class="btn btn-primary" style="margin-top: 10px">Submit</button>

                </div>
            </form>
        </div>
    </div>

    <div class="col-2">
    </div>

</div>

@* @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
