@model ApplicationCore.AssetsModel.Assets
@{
    ViewData["Title"] = "AddAssets";
}
<div id="wrapper">
    <div class="container-fluid">

        <div class="shadow p-3 mb-5 bg-white rounded">
           @*  @Html.ValidationSummary() *@
            <form method="post" asp-controller="Assets" asp-action="AddAssets" enctype="multipart/form-data">
                <h2>ADD ASSET</h2>
                <div class="form-group mt-2">
                    <label for="">Name</label>
                    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Name" placeholder="Enter assets Name" required>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label for="">Description</label>
                    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="Description" placeholder="Enter assets Description" required>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="form-group mt-2">
                    <label>Choose Asset Image:</label> <br />
                    <input type="file" name="image" class="file-input" />
                </div>

                <div class="form-group mt-2">
                    <label for="">PurchasingPrice</label>
                    <input type="text" class="form-control" id="" aria-describedby="emailHelp" name="PurchasingPrice" placeholder="Enter assets PurchasingPrice" required>
                    <span asp-validation-for="PurchasingPrice" class="text-danger"></span>
                </div>


                @*
                <label class="form-group" for="Status">Status:</label>
                <select class="form-control" name="Status" id="Status" required>
                <option value="New">New</option>
                <option value="Available">Available</option>


                </select> *@
                <div class="form-group mt-2">

                    <button type="submit" class="btn btn-primary btn-user btn-block">Submit</button>
                </div>
            </form>

</div>
    </div>
</div>